.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  
}

.card-detail {
  background: #363636;
  padding: 2rem;
  border-radius: 0.75rem;
  max-width: 800px;
  width: 100%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.source {
  margin-bottom: 0.5rem;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: white;
}

.description {
  margin-bottom: 1.25rem;
  color: white;
}

.read-more {
  text-decoration: none;
  font-weight: 500;
}

.read-more:hover {
  text-decoration: underline;
}
