.news-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border: 1px solid #8b949e;
    border-radius: 8px;
    text-align: start;
}
.news-card-container:hover{
    cursor: pointer;
}
.news-card-container h2{
    text-align: start;
    max-width: 800px;
    font-size: 1.3rem;
}
.news-carousel-container{
    text-align: center;
    margin: 20px 0;
}